{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="posts-view">
    <h3>All Posts</h3>
</div>

<div id="profile-view">
    <h3 id="profile-header"></h3>
    <h6 id="follower-count"></h6>
</div>

<div id="single-post-view">
    <div id="like-button-view">
        <form action ="" id="like" method="POST">
            {% csrf_token %}
            <button type="submit" value="Like" class="btn btn-primary"> Like </button>
        </form>
    </div>
</div>

<div id="other-users-profile-view">
        <div id="following-users-button">
        <form action ="" id="following-users" method="GET">
            <button type="submit" value="following-users" class = "btn btn-primary"> Following </button>
        </form>
        </div>
        
        <div id="follow-button-view">
        <form action="" id="follow" method="POST">
            {% csrf_token %} 
            <button type="submit" value="Follow" class="btn btn-primary"> Follow </button>  
        </form>
        </div>

        <div id="unfollow-button-view">
        <form action="" id="unfollow" method="POST">
            {% csrf_token %}
            <button type="submit" value="Unfollow" class="btn btn-primary"> Unfollow </button>
        </form>
        </div>
</div>

<div id="following-users-view">
    <h3>Followers</h3>
</div>

<div id="following-view">
    <h3>Following</h3>
</div>

<div id="new-post-view">
    <h3>New Post</h3>
    <form id="create-post-form"> 
        <textarea class="form-control" id="compose-body" placeholder="What's on your mind?"></textarea>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
<br>
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/functions.js' %}"></script>
{% endblock %}
