{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button data-page="profile" id="profile-page" class="btn btn-primary"><strong>{{ user.username }}</strong></button>
                    </li>
                    <li class="nav-item">
                        <button data-page="new-post" id="new-post" class="btn btn-primary"> New Post</button>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a id="all-posts" class="btn btn-primary" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button data-page="following" id="following" class="btn btn-primary">Following</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" href="{% url 'logout' %}">Log Out</button>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button class="btn btn-primary" href="{% url 'login' %}">Log In</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" href="{% url 'register' %}">Register</button>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
        {% block body %}
        {% endblock %}
        </div>
        

    </body>
</html>
