{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="posts-view">
</div>

<div id="profile-view">
</div>

<div id="new-post-view">
    <h3>New Post</h3>
    <form id="create-post-form">
        <textarea class="form-control" id="compose-body" placeholder="What's on your mind?"></textarea>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/functions.js' %}"></script>
{% endblock %}
