{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="posts-view">
</div>

<div id="single-post-view">
    <div id="like-button-view">
        <form action ="" id="like" method="POST">
            {% csrf_token %}
            <button type="submit" value="Like" class="btn btn-primary"> Like </button>
        </form>
    </div>
</div>

<div id="profile-view">
        <div id="following-users-button">
        <form action ="" id="following-users" method="GET">
            <button type="submit" value="following-users" class = "btn btn-primary"> Following </button>
        </form>
        </div>

        <div id="follow-button-view">
        <form action="" id="follow" method="POST">
            {% csrf_token %} 
            <button type="submit" value="Follow" class="btn btn-primary"> Follow </button>  
        </form>
        </div>
</div>

<div id="following-users-view">
</div>

<div id="following-view">
    <h3>Following</h3>
</div>

<div id="new-post-view">
    <h3>New Post</h3>
    <form id="create-post-form"> 
        <textarea class="form-control" id="compose-body" placeholder="What's on your mind?"></textarea>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/functions.js' %}"></script>
{% endblock %}
